In [7]:
'''Greek dictionary'''
greek = {}
gkeys = ["alpha", "beta", "gamma", "delta", "epsilon", "zeta",
         "eta", "theta", "iota", "kappa", "lamda", "mu", "nu",
         "xi", "omicron", "pi", "rho", "sigma_alt", "sigma",
         "tau", "upsilon", "phi", "chi", "psi", "omega"]

for i, g in enumerate(gkeys, 945):
    greek[g] = chr(i)
greek

{'alpha': 'α',
 'beta': 'β',
 'gamma': 'γ',
 'delta': 'δ',
 'epsilon': 'ε',
 'zeta': 'ζ',
 'eta': 'η',
 'theta': 'θ',
 'iota': 'ι',
 'kappa': 'κ',
 'lamda': 'λ',
 'mu': 'μ',
 'nu': 'ν',
 'xi': 'ξ',
 'omicron': 'ο',
 'pi': 'π',
 'rho': 'ρ',
 'sigma_alt': 'ς',
 'sigma': 'σ',
 'tau': 'τ',
 'upsilon': 'υ',
 'phi': 'φ',
 'chi': 'χ',
 'psi': 'ψ',
 'omega': 'ω'}

In [22]:
while True:
    try:
        n = int(input("Please enter an integer positive number: "))
        assert n >= 0  # Include the condition on the type
        break
    except (AssertionError, ValueError):
        print("Try again")

f = 1
c = n

while c > 0:
    f, c = f*c, c-1  #  Is there a definition for negative numbers?
    #print(f)
    #print(c)

print(f"The factorial of {n} is {f}")

Please enter an integer positive number:  6

The factorial of 6 is 720

In [33]:
while True:
    try:
        n = int(input("Please enter an integer positive number: "))
        assert n >= 0  # Include the condition on the type
        break
    except (AssertionError, ValueError):
        print("Try again")

f = 1

for i in range(n, 0, -1):
    f = f*i
print(f"The factorial of {n} is {f}")

Please enter an integer positive number:  6

The factorial of 6 is 720

In [42]:
n = int(input("Input an integer > 1: "))  # Include conditions on this n
i = 2

while (n % i) != 0:
    i += 1
    
if n == i:
    print(f"{n} is a prime number")
else:
    print(f"The smallest prime factor of {n} is {i}")

Input an integer > 1:  947431

947431 is a prime number

In [44]:
x = [[1, 2, 3], [4, 5, 6], [7, 8, 9]]
c = [a[2] for a in x]
c

[3, 6, 9]

In [51]:
t = [2*a[1]*a[1] for a in x]
t

[8, 50, 128]

In [67]:
'''Compound interest'''

P = float(input("Please enter the initial investment: "))
r = float(input("\nPlease enter the interest rate (%): "))
n = int(input("\nPlease enter the number of years the money will be invested: "))
print(P, r, n)

#r = r / 100

for t in range(0, n + 1):
    A = P * ((1 + r/n)**(n*t))
    print(f"The earnings after {t} years are {A:.2f}")
    if t == 10:
        print(A, P, r, n, t)

Please enter the initial investment:  1000

Please enter the interest rate (%):  6

Please enter the number of years the money will be invested:  10

1000.0 6.0 10
The earnings after 0 years are 1000.00
The earnings after 1 years are 109951.16
The earnings after 2 years are 12089258.20
The earnings after 3 years are 1329227995.78
The earnings after 4 years are 146150163733.09
The earnings after 5 years are 16069380442589.95
The earnings after 6 years are 1766847064778390.25
The earnings after 7 years are 194266889222573664.00
The earnings after 8 years are 21359870359209197568.00
The earnings after 9 years are 2348542582773845065728.00
The earnings after 10 years are 258224987808692311162880.00
2.582249878086923e+23 1000.0 6.0 10 10

In [63]:
1000*(1+0.06)**10

1790.8476965428547

In [66]:
1000*(1+0.06)**100

339302.0835144872

In [85]:
'''Compound interest'''

P = float(input("Please enter the initial investment: "))
r = float(input("\nPlease enter the interest rate (%): "))
n = int(input("\nPlease enter the number of years the money will be invested: "))

r = r / 100
print("Anually($)" + '         ' + "Monthly($)" + '         ' + "Daily($)")
for t in range(0, n + 1):
    A_a = P * ((1 + r/1)**(1*t))
    A_m = P * ((1 + r/12)**(12*t))
    A_d = P * ((1 + r/365)**(365*t))
    print(f"\n{A_a:8.2f} {A_m:19.2f} {A_d:17.2f}")

Please enter the initial investment:  1000

Please enter the interest rate (%):  6

Please enter the number of years the money will be invested:  10

Anually($)         Monthly($)         Daily($)

 1000.00             1000.00           1000.00

 1060.00             1061.68           1061.83

 1123.60             1127.16           1127.49

 1191.02             1196.68           1197.20

 1262.48             1270.49           1271.22

 1338.23             1348.85           1349.83

 1418.52             1432.04           1433.29

 1503.63             1520.37           1521.91

 1593.85             1614.14           1616.01

 1689.48             1713.70           1715.93

 1790.85             1819.40           1822.03

In [112]:
'''Highest and Lowest in dictionary'''

ps = {"Adele": 35, "Elton": 76, "Taylor": 34, "Billie": 22} # What if there are two persons with the same age?

mx = list(ps.values())[0]
mn = list(ps.values())[0]
name_max = list(ps.keys())[0]
name_min = list(ps.keys())[0]

for n,i in zip(ps.keys(), ps.values()):

    print(ps[n])
    if ps[n] > mx:
        mx = ps[n]
        name_max = n
    
    if ps[n] < mn:
        mn = ps[n]
        name_min = n
        
print(f"The oldest person is {name_max} and the youngest person is {name_min}")

35
76
34
22
The oldest person is Elton and the youngest person is Billie

In [109]:
m = list(ps.values())
min()

[35, 76, 34, 22]

In [110]:
min(m)

TypeError: 'int' object is not callable